name: Nuget workflow prod
on:
  push:
    tags:
      - "v*"

env:
  SOLUTION_PATH: "src/"
  OUTPUT_DIRECTORY: ${{ github.workspace }}/output
  NUGET_SOURCE_URL: https://api.nuget.org/v3/index.json

jobs:
  Build-project:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - name: Restore dependencies
        run: dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --no-restore --configuration Release

      - name: Test
        run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

      - name: Get Version
        id: version
        uses: battila7/get-version-action@v2

      - name: Pack project
        run: dotnet pack ${{ env.SOLUTION_PATH }}/Notification.sln --no-restore --no-build --configuration Release -p:PackageVersion=${{ steps.version.outputs.version-without-v }}  --output ${{ env.OUTPUT_DIRECTORY }}

      - name: Push package
        run: dotnet nuget push ${{ env.OUTPUT_DIRECTORY }}/**/*.nupkg -k ${{ secrets.nuget_password }} -s ${{ env.NUGET_SOURCE_URL }}
